/.nimcache/
/tests/test_nimsodium
/examples/quickstart
/examples/passwords
/examples/secret_data
/examples/public_key
/examples/signatures
/examples/authentication
/examples/key_derivation
/examples/file_encryption
/examples/advanced
/examples/tokens
/examples/cleanup
/htmldocs/
/nimcache/
*.exe
*.dll
*.so
*.dylib
